@model Obidalar.Models.ObidaCreateViewModel

@{
    ViewData["Title"] = "Obida Qo'shish";
}

<h2 class="text-center mb-4">Obida Qo'shish</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label for="Nomi">Obida nomi</label>
        <input type="text" class="form-control" id="Nomi" name="Nomi" required />
    </div>

    <div class="form-group mb-3">
        <label for="Viloyat">Viloyat</label>
        <input type="text" class="form-control" id="Viloyat" name="Viloyat" required />
    </div>

    <div class="form-group mb-3">
        <label for="YaratilganYil">Yaratilgan yil</label>
        <input type="number" class="form-control" id="YaratilganYil" name="YaratilganYil" required />
    </div>

    <div class="form-group mb-3">
        <label for="Tavsif">Tavsif</label>
        <textarea class="form-control" id="Tavsif" name="Tavsif" required></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="XaritaUrl">Xarita URL</label>
        <input type="text" class="form-control" id="XaritaUrl" name="XaritaUrl" />
    </div>

    <div class="form-group mb-3">
        <label for="Medialar">Media Fayllar (rasmlar yoki videolar)</label>
        <input type="file" class="form-control" id="Medialar" name="Medialar" multiple />
    </div>


    <button type="submit" class="btn btn-success w-100 mt-3">Obida Qo'shish</button>
    <div class="d-flex justify-content-end mt-2">
        <a href="/Admin/Index" class="btn btn-outline-secondary">🔙 Bekor qilish</a>
    </div>

</form>
