@model Obida

<h2>Obidani o‘chirish</h2>
<div class="alert alert-danger">
    <strong>@Model.Nomi</strong> obidasini rostdan ham o‘chirmoqchimisiz?
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Ha, o‘chirish</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Bekor qilish</a>
</form>
